<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>API CONNECT EXAMPLE</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container" ng-app="myApp" ng-controller="myCtrl">

        <header>
            <h1>Search results for the term: <em>{{searchTerm}}</em></h1>
            <p>Number of displayed results: {{movies.length || 0}} of {{totalResults || 0}}</p>
        </header>

       <main>
            <article ng-repeat="movie in movies">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{movie.Title}}</h2></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-responsive" ng-src="{{movie.Poster}}"/>
                            </div>
                            <div class="col-sm-8">
                                <p>Year: <strong>{{movie.Year}}</strong></p>
                                <p>IDMB ID: <strong>{{movie.imdbID}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <div class="alert alert-danger" role="alert" ng-if="!movies">{{ errorMessage }}</div>

        </main>

    </div>


    <!-- Vendor: Angular, followed by our custom Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $scope.searchTerm = 'king';
            $scope.errorMessage = '';
            $scope.movies;
            $scope.totalResults ='';

            $http({
                method: 'GET',
                url: 'http://www.omdbapi.com/?s=' + $scope.searchTerm + '&apikey=51483ccb'
            }).then(function successCallback(response) {
                // this callback will be called asynchronously
                // when the response is available
                $scope.movies = response.data.Search;
                $scope.totalResults = response.data.totalResults;

                if (!$scope.movies) {
                    $scope.errorMessage = 'No results! Try something different.';
                }

            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
                 $scope.errorMessage = 'No connection.';
            });

        });
    </script>

</body>